.scroll-top-button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #613842;
    border: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    opacity: 0;
    cursor: n-resize;
    pointer-events: all;
    z-index: 15;
    transition: transform .4s cubic-bezier(.76, 0, .24, 1), opacity .2s cubic-bezier(.45, 0, .55, 1);

    &:hover {
        transform: scale(.85);
    }

    &.show {
        opacity: 1;
    }

    @media only screen and (min-width: 769px) {
        bottom: 50px;
        right: 50px;
        width: 54px;
        height: 54px;
    }
}

.scroll-top-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;

    @media only screen and (min-width: 769px) {
        width: 20px;
    }
}