@use '../../../src/styles/abstracts/mixins.scss';

.wrapper_home_page,
.hero_home {
    position: relative;
}

.hero_home {
    width: 100vw;
    height: 100%;
    margin-bottom: 55px;
}

.wrap_fullscreen_video {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.wrap_fullscreen_video.desktop_only,
.wrap_logo_hero {
    display: none;
}

.wrap_fullscreen_image.mobile_only .image {
    height: 100%;
}

.wrap_fullscreen_image .image {
    position: relative;
    width: 100%;
}

.wrap_fullscreen_image .image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dark_overlay_hero {
    background-color: var(--background-overlay);
}

.dark_overlay_hero,
.image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.wrap_hero_header {
    position: absolute;
    top: 45%;
    left: 30px;
    transform: translateY(-50%);
    color: var(--text-primary-light);
}


.big_title_home {
    font-family: var(--primary-font-thin);
    font-weight: 300;
    margin: 0 0 15px;
    @include mixins.font-size(30px);
}

.wrap_hero_links {
    display: flex;
    flex-direction: column-reverse;
}

.wrap_hero_links a {
    color: var(--text-primary-light);
    line-height: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .25rem;
    @include mixins.font-size(13px);
    margin-bottom: 5px;
}


.wrap_hero_links a .arrow img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrap_hero_links a .arrow {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 33px;
    border: 1.5px solid var(--text-primary-light);
    border-radius: 50%;
    margin-left: 15px;
}

.wrap_hero_header h1 {
    font-family: var(--primary-font-thin);
    color: var(--text-primary-light);
    font-weight: 300;
    max-width: 300px;
    margin: 0.67em 0;
    margin-top: 0;
    @include mixins.font-size(40px);
}

.wrap_fullscreen_video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_home .wrap_fullscreen_image {
    position: relative;
    width: 100%;
    height: 100vh;
}

.wrap_fullscreen_image.mobile_only .image {
    height: 100%;
}

.wrap_fullscreen_image .image {
    position: relative;
    width: 100%;
}

.wrap_fullscreen_image.mobile_only .image img {
    -o-object-fit: cover;
    object-fit: cover;
}

.hero_home .wrap_fullscreen_image .image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.wrap_fullscreen_image .image:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
}

.wrap_logo_hero .image {
    width: 18%
}

.wrap_logo_hero .image img {
    width: 100%;
    height: auto;
    position: relative;
    max-height: 50px;
}

.image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.wrap_logo_hero .image:first-child {
    margin-left: 0;
}

.wrap_logo_left .image {
    position: relative;
    width: 160px;
    margin-left: 25px;
}

.wrap_logo_left .image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.wrap_logo_left .image:first-child {
    margin-left: 0;
}

.wrap_logo_left .image:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 18.18182%;
}


.wrap_logo_hero_mobile {
    display: block;
    position: relative;
    background-color: #202020;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 15px;
}

.wrap_logo_hero_mobile .image:first-child {
    margin-left: 0;
}

.wrap_logo_hero_mobile .image {
    width: calc(20% - 10px) !important;
    margin-left: 25px;
    margin-bottom: 20px;
}

.wrap_logo_hero_mobile .image img {
    width: 100%;
    height: auto;
    position: relative;
    max-height: 50px;
    max-width: 80px;
}

.wrap_logo_left {
    position: absolute;
    top: 90vh;
    left: 30px;
}

@media screen and (min-width: 415px) {

    .big_title_home {
        font-size: calc(30px + 50*(100vw - 415px)/1025);
    }

    .wrap_hero_header h1 {
        font-size: calc(40px + 12*(100vw - 415px)/1025);
    }

}


@media only screen and (min-width: 550px) {

    .wrap_hero_header {
        left: 50px;
        top: 50%;
    }

    .wrap_hero_header h1 {
        max-width: 600px;
    }

    .wrap_hero_links {
        flex-direction: row;
    }

    .wrap_hero_links a {
        margin-left: 25px;
    }

    .wrap_hero_links a:first-child {
        margin-left: 0;
    }

    .wrap_logo_left {
        left: 50px;
    }
}

@media only screen and (min-width: 769px) {

    .hero_home {
        height: 100vh;
    }

    .wrap_hero_header {
        left: 16.52%;
    }

    .wrap_fullscreen_video.desktop_only {
        display: block;
    }

    .wrap_fullscreen_image.mobile_only {
        display: none;
    }

    .wrap_hero_header .big_title_home {
        margin: 0;
    }

    .wrap_hero_header h1 {
        max-width: 670px;
    }

    .wrap_logo_hero {
        display: block;
        position: absolute;
        bottom: 50px;
        right: 50px;
        z-index: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        max-width: 500px;
        background-color: transparent;
    }

    .wrap_logo_hero .image {
        margin-left: 25px;
        display: flex;
        align-items: center;
    }

    .wrap_logo_hero .image img {
        width: 100%;
        height: 100%;
    }

    .wrap_logo_left {
        top: unset;
        bottom: 40px;
        left: 30px;
        position: absolute;
        bottom: 50px;
        left: 45px;
        z-index: 2;
        display: flex;
        align-items: center;
    }

    .wrap_logo_left .image {
        width: 220px;
    }

    .wrap_logo_hero_mobile {
        display: none;
    }

}

@media only screen and (min-width: 769px) and (min-width: 1034px) {
    .wrap_logo_hero {
        max-width: 700px;
    }
}

@media only screen and (min-width: 1034px) {
    .hero_home {
        margin-bottom: 130px;
    }

}

@media only screen and (min-width: 769px) and (min-width: 1401px) {

    .wrap_logo_hero {
        max-width: 750px;
    }
}

@media screen and (min-width: 1440px) {
    .wrap_hero_header h1 {
        @include mixins.font-size(52px);
    }

    .wrap_hero_header .big_title_home {
        @include mixins.font-size(80px);
    }
}