@import url('../base/_typography.scss');

:root {
    --text-primary-light: #ffffff;
    --text-secondary: #000000;
    --text-primary-dark: #613842;
    --background-light: #faf9f6;
    --background-color-overlay: #f3f2ee;
    --background-dark: #202020;
    --background-dark-secondary: #2d2d2d;
    --border-dark: #646464;
    --border-secondary: #d3d3d3;
    --background-light-secondary: hsla(0, 0%, 100%, .7);
    --background-overlay-modal: hsla(0, 0%, 100%, .5);
    --background-overlay: rgba(0, 0, 0, .2);
    --error: red;
    --border-error: #790000;

    --primary-font-regular: 'Nocturne', serif;
    --primary-font-thin: 'Nocturne Light', serif;
    --secondary-font: 'Archivo', sans-serif;

    --media-xl: 1280px;
    --media-lg: 992px;
    --media-md: 768px;
    --media-smz: 576px;
}