@import url('../base/_typography.scss');

:root {
    --text-primary-light: #ffffff;
    --text-secondary: #000000;
    --text-primary-dark: #613842;
    --background-light: #faf9f6;
    --background-dark: #202020;
    --background-dark-secondary: #2d2d2d;

    --background-overlay: rgba(0, 0, 0, .2);

    --primary-font-regular: 'Nocturne', serif;
    --primary-font-thin: 'Nocturne Light', serif;
    --secondary-font: 'Archivo', sans-serif;

    --media-xl: 1280px;
    --media-lg: 992px;
    --media-md: 768px;
    --media-smz: 576px;
}