@use '../../../src/styles/abstracts/mixins.scss';

.offcanvas {
    position: fixed;
    top: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: var(--background-dark);
    color: var(--text-primary-light);
    padding: 60px 30px;
    font-family: var(--primary-font-thin);
    font-weight: 300;
    pointer-events: all;

    @media only screen and (min-width: 769px) {
        width: 50%;
        padding: 60px 40px;
    }
}

.offcanvas.offcanvas-start {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    border: 1px solid var(--background-dark);

    @media only screen and (min-width: 769px) {
        width: 50%;
    }

    @media only screen and (min-width: 1034px) {
        width: 35%;
    }
}


.offcanvas-header,
.offcanvas-body {
    margin: 0;
    padding: 0;
}


.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    color: var(--text-primary-light);
    font-weight: 300;
}

.wrap-icon-close,
.btn-close {
    position: relative;
    height: 30px;
    width: 30px;
    border: 1px solid var(--text-primary-light);
    border-radius: 50%;
    display: block;
    margin-left: 10px;
}

.close-enquiry {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    color: var(--text-primary-light);
    font-weight: 300;
    cursor: pointer;
}

.close-enquiry img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 11px;
    width: 11px;
}

.wrap-enquiry,
.offcanvas-body {
    overflow: auto;
    height: 100%;
}

.enquiry-title,
.offcanvas-title {
    @include mixins.font-size(24px);
    font-family: var(--primary-font-thin);
    font-weight: 300;
    margin: 0 0 25px;

    @media only screen and (min-width: 769px) {
        margin: 0 0 35px;
    }
}

.speak_to_team {
    display: none;
    background-color: var(--text-primary-dark);
    border: 0;
    padding: 14px;
    color: var(--text-primary-light);
    font-weight: 100;
    text-transform: uppercase;
    @include mixins.font-size(12px);
    letter-spacing: .15rem;
    pointer-events: all;
    cursor: pointer;
    z-index: 10;

    @media only screen and (min-width: 769px) {
        display: block;
        position: fixed;
        left: 0;
        top: 50%;
        width: auto;
        height: 44px;
        transform: translate(-41%, -75%) rotate(90deg);
    }

    @media only screen and (min-width: 1034px) {
        left: 5px;
    }
}

.sign_in{
    background-color: var(--text-primary-dark);
    border: 0;
    padding: 14px;
    color: var(--text-primary-light);
    font-weight: 100;
    text-transform: uppercase;
    @include mixins.font-size(12px);
    letter-spacing: .15rem;
    pointer-events: all;
    cursor: pointer;
    z-index: 10;

    @media only screen and (min-width: 769px) {
        display: block;
        position: fixed;
        left: 0;
        top: 70%;
        width: auto;
        height: 44px;
        transform: translate(-41%, -75%) rotate(90deg);
    }

    @media only screen and (min-width: 1034px) {
        left: 5px;
    }
}


.offcanvas-body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.offcanvas-body::-webkit-scrollbar-thumb {
    background: #43434300;
    border-radius: 6px;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgba(0, 0, 0, 0);
}

.offcanvas-body::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#43434346,#43434357 1px,rgba(17, 17, 17, 0) 0,rgba(17, 17, 17, 0));
}